label {
  font-weight: bold;
}

form span {
  margin-bottom: 10px;
}
.navbar {
  margin-bottom: 10px;
}

.mainContainer {
  background-color: rgb(255, 255, 255, 0.5);
  padding: 10px;
}

.jumboHeading {
  text-align: center;
}
